.quote-flow-bar__container {
  background-color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-flow-bar__container ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.quote-flow-bar__container li {
  flex: 1;
  position: relative;
  text-align: center;
  padding-top: 12px;
}

.is-active {
  background-color: #002f69;
  color: #fff;
}

.first-active {
  background-color: #002f69;
  color: #fff;
}

.first-active:after {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  content: "";
  z-index: 999;
  border: 25px solid transparent;
  border-left-color: #002f69;
  top: 0px;
  right: -50px;
}

.is-active:after {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  content: "";
  z-index: 999;
  border: 25px solid transparent;
  border-left-color: #002f69;
  top: 0px;
  right: -50px;
}

.is-active:before {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  content: "";
  z-index: 999;
  border: 25px solid transparent;
  border-left-color: #fff;
  top: 0px;
  left: 0px;
}
