.header {
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-size: 22px;
}

h3 {
  font-size: 15px;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

.form-container p {
  color: #002f69;
  font-size: 45px;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.input-text {
  margin-right: 15px;
  font-size: 45px;
  line-height: normal;
  letter-spacing: 2px;
}

.input-age {
  height: 60px;
  width: 80px;
  font-size: 45px;
}

.input-age::placeholder {
  color: rgb(227, 227, 227);
}

.input-age:hover {
  cursor: auto;
}

.submit-btn {
  margin: 15px 0 15px 0;
}

@media screen and (max-width: 1432px) {
  .header {
    width: 90%;
    margin: 0 auto;
    margin-top: 45px;
  }

  .form-container {
    width: 80%;
    margin: 0 auto;
  }

  .input-container {
    align-items: center;
  }
}

@media screen and (max-width: 930px) {
  .form-container {
    width: 80%;
    margin: 0 auto;
  }

  .input-text {
    font-size: 34px !important;
    margin-bottom: 0;
  }

  .input-age {
    height: 40px;
    width: 80px;
    font-size: 34px;
  }
}

@media screen and (max-width: 769px) {
  .header {
    width: 90%;
    margin: 0 auto;
    margin-top: 45px;
  }

  .form-container {
    width: 90%;
  }

  .input-text {
    font-size: 35px !important;
    margin-bottom: 0;
  }

  .input-age {
    height: 40px;
    width: 80px;
    font-size: 35px;
  }

  .submit-btn {
    line-height: 0;
  }
}

@media screen and (max-width: 599px) {
  .header {
    width: 90%;
    margin: 0 auto;
    margin-top: 45px;
  }

  .form-container {
    width: 90%;
  }

  .input-text {
    font-size: 18px !important;
    margin-bottom: 0;
  }

  .input-age {
    height: 30px;
    width: 80px;
    font-size: 18px;
  }

  .submit-btn {
    line-height: 0;
  }
}

@media screen and (max-width: 375px) {
  .form-container {
    width: 100%;
  }
  .input-text {
    font-size: 16px !important;
  }

  .input-age {
    font-size: 16px;
  }
}
