.header-container {
  background-color: white;
  align-items: center;
  text-align: center;
  padding: 20px 0 20px 0;
  margin-bottom: 25px;
}

.logo {
  width: 8%;
}

@media screen and (max-width: 1432px) {
  .logo {
    width: 10%;
  }
}

@media screen and (max-width: 599px) {
  .logo {
    width: 20%;
  }
}
