body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 13px;
  background-color: #F9F9F9;
}



.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}