.back-to-quote-btn {
  display: flex;
  flex-direction: row;
  width: 140px;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 130px;
}

.quote-about-you__form-container {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 55px;
}

.quote-about-you__form-head {
  background-color: #002f6b;
  color: #fff;
}

.quote-about-you__form-head div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  padding: 5px;
  justify-content: space-around;
}

.quote-about-you__form-head p {
  color: #fff;
  margin: 0;
  font-size: 15px;
}

.quote-about-you__form-head img {
  width: 8%;
}

.personal-details-input-container {
  background-color: #fff;
  width: 85%;
  margin: 0 auto;
  margin-top: 25px;
}

.quote-about-you__form-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f9f9f9;
}

.personal-details-input-container div {
  background-color: #f9f9f9;
  margin-bottom: 2px;
  text-align: left;
}

.title-dropdown {
  background-color: #f9f9f9;
}

.title-dropdown-tog {
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f9f9f9;
}

.title-dropdown-placeholder {
  margin: 0;
  margin-right: 5px;
  display: inline-block;
}

.title-dropdown-placeholder-empty {
  margin: 0;
  margin-right: 5px;
  display: inline-block;
  color: #e3e3e3 !important;
}

.title-dropdown-tog p {
  font-size: 14px;
}

.title-firstname-input {
  display: flex;
  flex-direction: row;
}

.title-firstname-input div {
  flex: 4;
}

.title-firstname-input div:first-child {
  flex: 1;
  border-right: 2px solid #fff;
}

.birthday-input-container {
  width: 85%;
  text-align: left;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 28px;
}

.birthday-input-container p {
  font-size: 15px;
  margin-bottom: 0.5px;
  color: #454545;
}

.birthday-input-container div {
  background-color: #f9f9f9;
  width: 50%;
  padding: 10px;
}

.medicare-details-container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 18px;
}

.medicare-details-container p:first-child {
  text-align: left;
  font-size: 15px;
  margin-bottom: 0.5px;
  color: #454545;
}

.medicare-card {
  background-image: url("../../assets/img/medicare_input_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 66.64%;
}

.medicare-card-number-input {
  position: absolute;
  top: 55px;
  left: 65px;
  border: none;
  outline: none;
  width: 50%;
  padding: 6px;
  border-radius: 2.5px;
  font-size: 15px;
}

.medicare-card-name-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 95px;
  left: 15px;
  align-items: center;
}

.medicare-card-name-container p {
  font-size: 14px;
  margin: 0;
}

.medicare-card-name-container input {
  width: 10%;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 2.5px;
  padding: 3px;
}

.medicare-card-valid-container {
  position: absolute;
  width: 50%;
  top: 165px;
  right: 35px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.medicare-card-valid-container p {
  font-size: 14px;
  width: 60%;
  margin: 0;
}

.medicare-card-valid-container input {
  width: 40%;
  border: none;
  outline: none;
}

.dva-details-container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 18px;
}

.dva-details-container p:first-child {
  text-align: left;
  font-size: 15px;
  margin-bottom: 0.5px;
  color: #454545;
}

.dva-card {
  background-image: url("../../assets/img/DVA_input_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 66.64%;
}

.dva-card-number-container {
  position: absolute;
  width: 60%;
  top: 135px;
  right: 25px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.dva-card-number-container p {
  font-size: 14px;
  width: 30%;
  margin: 0;
}

.dva-card-number-container input {
  width: 70%;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 5px;
  border-radius: 2.5px;
}

.pm-keys-container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pm-keys-container p {
  text-align: left;
  font-size: 15px;
  margin-bottom: 0.5px;
  color: #454545;
}

.pm-keys-container input {
  background-color: #f9f9f9;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  border-radius: 2.5px;
  outline: none;
  border: none;
}

.documents-upload-container {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 25px;
}

.documents-upload-container p:first-child {
  text-align: left;
  font-size: 15px;
  margin-bottom: 9px;
  color: #454545;
}

.documents-upload-image-container {
  border: 4px dashed #b0b0b0;
}

.documents-upload-image-container:hover {
  cursor: pointer;
}

.documents-upload-image-container p {
  color: #b0b0b0;
  padding-bottom: 25px;
}

.documents-upload-image-container img {
  padding: 50px 50px 8px 50px;
}

/* Contact information form */

.contact-information-form-container {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
}

.form-inputs-container {
  width: 90%;
  margin: 0 auto;
  padding: 30px 15px 30px 15px;
}

.form-inputs-container input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  margin-bottom: 2px;
  font-size: 14px;
  padding: 17px;
  color: #8f8f8f;
}
