.dropdown-tog {
  padding: 14px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-dropdown__placeholder {
  margin: 0;
  margin-right: 5px;
  display: inline-block;
}

.form-dropdown__placeholder-empty {
  margin: 0;
  margin-right: 5px;
  display: inline-block;
  color: #e3e3e3 !important;
}

@media screen and (max-width: 769px) {
  .form-dropdown__placeholder {
    font-size: 35px !important;
  }

  .form-dropdown__placeholder-empty {
    font-size: 35px !important;
  }

  .dropdown-tog {
    padding: 10px;
  }
}

@media screen and (max-width: 599px) {
  .form-dropdown__placeholder {
    font-size: 18px !important;
  }

  .form-dropdown__placeholder-empty {
    font-size: 18px !important;
  }

  .dropdown-tog {
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  .form-dropdown__placeholder {
    font-size: 16px !important;
  }

  .form-dropdown__placeholder-empty {
    font-size: 16px !important;
  }

  .dropdown-tog {
    padding: 5px;
  }
}
